
*.jpg
caltech-256-image-dataset/__MACOSX/._256_ObjectCategories
*.DS_Store
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._001.ak47
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._002.american-flag
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._003.backpack
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._004.baseball-bat
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._005.baseball-glove
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._006.basketball-hoop
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._007.bat
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._008.bathtub
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._009.bear
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._010.beer-mug
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._011.billiards
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._012.binoculars
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._013.birdbath
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._014.blimp
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._015.bonsai-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._016.boom-box
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._017.bowling-ball
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._018.bowling-pin
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._019.boxing-glove
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._020.brain-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._021.breadmaker
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._022.buddha-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._023.bulldozer
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._024.butterfly
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._025.cactus
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._026.cake
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._027.calculator
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._028.camel
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._029.cannon
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._030.canoe
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._031.car-tire
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._032.cartman
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._033.cd
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._034.centipede
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._035.cereal-box
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._036.chandelier-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._037.chess-board
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._038.chimp
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._039.chopsticks
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._040.cockroach
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._041.coffee-mug
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._042.coffin
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._043.coin
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._044.comet
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._045.computer-keyboard
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._046.computer-monitor
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._047.computer-mouse
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._048.conch
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._049.cormorant
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._050.covered-wagon
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._051.cowboy-hat
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._052.crab-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._053.desk-globe
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._054.diamond-ring
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._055.dice
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._056.dog
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._057.dolphin-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._058.doorknob
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._059.drinking-straw
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._060.duck
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._061.dumb-bell
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._062.eiffel-tower
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._063.electric-guitar-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._064.elephant-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._065.elk
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._066.ewer-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._067.eyeglasses
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._068.fern
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._069.fighter-jet
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._070.fire-extinguisher
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._071.fire-hydrant
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._072.fire-truck
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._073.fireworks
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._074.flashlight
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._075.floppy-disk
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._076.football-helmet
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._077.french-horn
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._078.fried-egg
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._079.frisbee
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._080.frog
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._081.frying-pan
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._082.galaxy
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._083.gas-pump
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._084.giraffe
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._085.goat
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._086.golden-gate-bridge
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._087.goldfish
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._088.golf-ball
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._089.goose
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._090.gorilla
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._091.grand-piano-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._092.grapes
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._093.grasshopper
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._094.guitar-pick
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._095.hamburger
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._096.hammock
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._097.harmonica
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._098.harp
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._099.harpsichord
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._100.hawksbill-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._101.head-phones
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._102.helicopter-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._103.hibiscus
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._104.homer-simpson
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._105.horse
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._106.horseshoe-crab
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._107.hot-air-balloon
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._108.hot-dog
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._109.hot-tub
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._110.hourglass
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._111.house-fly
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._112.human-skeleton
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._113.hummingbird
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._114.ibis-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._115.ice-cream-cone
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._116.iguana
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._117.ipod
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._118.iris
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._119.jesus-christ
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._120.joy-stick
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._121.kangaroo-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._122.kayak
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._123.ketch-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._124.killer-whale
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._125.knife
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._126.ladder
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._127.laptop-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._128.lathe
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._129.leopards-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._130.license-plate
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._131.lightbulb
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._132.light-house
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._133.lightning
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._134.llama-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._135.mailbox
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._136.mandolin
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._137.mars
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._138.mattress
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._139.megaphone
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._140.menorah-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._141.microscope
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._142.microwave
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._143.minaret
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._144.minotaur
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._145.motorbikes-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._146.mountain-bike
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._147.mushroom
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._148.mussels
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._149.necktie
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._150.octopus
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._151.ostrich
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._152.owl
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._153.palm-pilot
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._154.palm-tree
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._155.paperclip
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._156.paper-shredder
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._157.pci-card
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._158.penguin
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._159.people
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._160.pez-dispenser
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._161.photocopier
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._162.picnic-table
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._163.playing-card
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._164.porcupine
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._165.pram
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._166.praying-mantis
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._167.pyramid
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._168.raccoon
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._169.radio-telescope
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._170.rainbow
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._171.refrigerator
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._172.revolver-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._173.rifle
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._174.rotary-phone
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._175.roulette-wheel
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._176.saddle
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._177.saturn
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._178.school-bus
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._179.scorpion-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._180.screwdriver
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._181.segway
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._182.self-propelled-lawn-mower
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._183.sextant
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._184.sheet-music
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._185.skateboard
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._186.skunk
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._187.skyscraper
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._188.smokestack
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._189.snail
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._190.snake
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._191.sneaker
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._192.snowmobile
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._193.soccer-ball
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._194.socks
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._195.soda-can
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._196.spaghetti
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._197.speed-boat
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._198.spider
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._199.spoon
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._200.stained-glass
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._201.starfish-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._202.steering-wheel
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._203.stirrups
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._204.sunflower-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._205.superman
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._206.sushi
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._207.swan
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._208.swiss-army-knife
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._209.sword
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._210.syringe
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._211.tambourine
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._212.teapot
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._213.teddy-bear
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._214.teepee
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._215.telephone-box
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._216.tennis-ball
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._217.tennis-court
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._218.tennis-racket
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._219.theodolite
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._220.toaster
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._221.tomato
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._222.tombstone
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._223.top-hat
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._224.touring-bike
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._225.tower-pisa
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._226.traffic-light
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._227.treadmill
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._228.triceratops
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._229.tricycle
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._230.trilobite-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._231.tripod
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._232.t-shirt
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._233.tuning-fork
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._234.tweezer
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._235.umbrella-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._236.unicorn
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._237.vcr
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._238.video-projector
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._239.washing-machine
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._240.watch-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._241.waterfall
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._242.watermelon
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._243.welding-mask
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._244.wheelbarrow
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._245.windmill
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._246.wine-bottle
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._247.xylophone
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._248.yarmulke
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._249.yo-yo
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._250.zebra
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._251.airplanes-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._252.car-side-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._253.faces-easy-101
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._254.greyhound
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._255.tennis-shoes
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._256.toad
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/._257.clutter
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/056.dog/._greg
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/056.dog/greg/._vision309
caltech-256-image-dataset/256_ObjectCategories/198.spider/RENAME2
caltech-256-image-dataset/__MACOSX/256_ObjectCategories/198.spider/._RENAME2
